* text=auto
.gitattributes text eol=lf
*.py text eol=lf
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.mp4 binary
